<h1>げぼく診断</h1>

<% if @cats.any? %>
  <p>診断したい猫を選んでください:</p>

  <%= form_with url: user_start_diagnosis_path(@user.id), method: :post, local: true do |f| %>
    <% @cats.each do |cat| %>
      <div>
        <%= f.radio_button :cat_id, cat.id, required: true, id: "cat_#{cat.id}" %>
        <%= label_tag "cat_#{cat.id}", cat.name %>
      </div>
    <% end %>
    <%= f.submit "診断を開始", class: "button-submit" %>
  <% end %>

<% else %>
  <p>猫が登録されていません。</p>
<% end %>