<div id="follow-button">
  <% if current_user.following?(@user) %>
    <%= button_to relationship_path(current_user.active_relationships.find_by(following_id: @user.id)),
                  method: :delete, remote: true, class: "follow-button unfollow-button" do %>
      <i class="fas fa-user-minus"></i> <%# フォロー解除アイコン %>
    <% end %>
  <% else %>
    <%= button_to relationships_path(following_id: @user.id),
                  method: :post, remote: true, class: "follow-button" do %>
      <i class="fas fa-user-plus"></i> <%# フォローアイコン %>
    <% end %>
  <% end %>
</div>