<div class="container">
  <h1>ねこの編集</h1>

  <%= render 'shared/form', user: @user, cat: @cat %>
    
    <div class="button-container">
      <%= link_to "戻る", user_cat_path(@user, @cat), class: "button-back" %>
    </div>
</div>