<div class="container">
    <% if @cat.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@cat.errors.count, "エラー") %>が発生しました</h2>
      <ul>
        <% @cat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
   <%= render 'shared/form', user: @user, cat: @cat %>
     <div class="button-container">
    <%= link_to "戻る", mypage_user_path(@user), class: "button-back" %>
  </div>
   
</div>